body {
    text-align: center;
    line-height: 1.5;
}
i   {
    font-size: 30px;
}
.infor {
    width: 800px;
    background-color: grey;
    color:whitesmoke;
}
.contentall {
    padding-top: 100px;
}
.icon   {
    padding-bottom: 100px;
}